@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body {
    background-color: #ffffff;
}

header{
    background-color: #0B3612;
}

.facilities-header {
    text-align: center;
    padding: 5%;
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: -2px;
    background-image: url("./Resources/compsci.png");
    background-color: green;
    background-size: cover;
    background-blend-mode: multiply;
    filter: grayscale(50%);
}

.green-box {
    background-color: #0B3612;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    position: relative;
    max-width: 900px;
    margin: auto;
}

.wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.wrapper-holder {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 1s ease-in-out;
    animation: slider 25s ease-in-out infinite alternate;
}

.wrapper-holder div {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-holder {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.button-holder .button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.button:hover {
    box-shadow: 0px 0px 7px 4px rgba(0, 255, 255, 0.6);
}

footer{
    background-color: #0B3612;

    li, h1, p{
        color: #bde0bd;
    }

    li a{
        color:#bde0bd;
    }
}

@keyframes slider {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    100% { transform: translateX(0%); }
}

[id^="draw-slider"], [id^="game-slider"], [id^="mac-slider"] {
    background-position: center;
}

#game-slider-1 { background-image: url('https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/481897017_1075104177989772_615396719508613614_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEqiz8vcgGZm0TV5kniJUNhN0bIbKKjyRU3RshsoqPJFc5dzS0Ro8jCEONQ8uKCBlRWY9vKssibAhaZtivzvOkS&_nc_ohc=AsNoicsLkmQQ7kNvgFjv8st&_nc_oc=Adkic2xZNV3wCFiMNKvJXC_Qf143zdJlwKugfxScyw8SwVNxZkBEnubAq5I5WskeNmU&_nc_zt=23&_nc_ht=scontent.fmnl30-1.fna&_nc_gid=8Km1VeeVteuYKJPxaJoXow&oh=00_AYG9RrFvCEvIik5NiqXiyp6UCoDAQeuMvLcoJKxG2oENsw&oe=67E89034'); }
#game-slider-2 { background-image: url('https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/481677255_1075104514656405_3420278172103627795_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGRydVYu5alqrozRTcyORZmTz6EnYrCYphPPoSdisJimPqYRrTSdKbDKb-j7rEuWd14JCorHL3nnw1uRGj_K7O6&_nc_ohc=CIap3QeaqzwQ7kNvgFEYDUv&_nc_oc=AdnY1tcS5JdvcdN6rgzkqvoE18_YetUGzX7y3E3fVyk1gq7Sbr2NVuSyYnZu1QyuRr8&_nc_zt=23&_nc_ht=scontent.fmnl30-1.fna&_nc_gid=RVUBNSAevPyiR9Ctp9DI1g&oh=00_AYGPhrc58Z2wIBdYvh7_cKl4Dw_IRI0mJJ48lyx8JEiygw&oe=67E8AF2E'); }
#game-slider-3 { background-image: url('https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/483062433_1075104161323107_1419141987902912353_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH5g7lsovTnfF7mYTg7BS6oOuNb9LekPQE641v0t6Q9Aa-YQXLtJruZOhfqCmUulZn_y57nS6ctSUZamJJNrud-&_nc_ohc=2w_ILPS8fpIQ7kNvgFGu_aM&_nc_oc=Adk1ti0OcGbhr5JMBQzfHEekZJww5YSwgYU_1r37TeIZsD3q2atfD9RrjBv3HEWBARE&_nc_zt=23&_nc_ht=scontent.fmnl30-1.fna&_nc_gid=WGe6Mzv4mSpPzbZPtaiWfw&oh=00_AYHjj0ZMb_ZJR7shEchLFHYBsNRGWI3pAhwThquEltqW8A&oe=67E89925'); }
#game-slider-4 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/481150876_1145689100893662_8176577153373099294_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeEJvbhPZEZhOOFmtMdxj6jVYthTSMgX_Fti2FNIyBf8W0cwdwdl8FidEbqnuysv-CKOu1DlGmuRGGJXjLxXVgs1&_nc_ohc=kCHpRFdjf1YQ7kNvgG6QFVr&_nc_oc=AdkSpyLfCG38PK3vI_z4BvRfB3aXk3gzvcA30XfUVJlFURgZkJAMoXI5zPrT9WJgFpI&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=-Daqz2jJEZTHq9AAY_vTWw&oh=00_AYFq8RgCXhkBkJ6GzLVcZ3CDeSGJRTakd7AGj9O7RpO9bg&oe=67E89CF2'); }

#mac-slider-1 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/485799158_1087308546769335_6881457388626047617_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHmxQYWA3ihp_uH_VbRpOQbEnm8xTiQxssSebzFOJDGy5UM-jn-2YVY0cnpNqgBjSgAcFmkvkbCqB6eVA8Iriva&_nc_ohc=eGtplOvfsRcQ7kNvgEAGgAj&_nc_oc=AdmTrx6aejS5bLt_emjrxwOxcHMWxKWX_WdxF-G3p6TL5svAckuL7MTkJjMS4pfXCGo&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=AsZJuv13caVmueGEnJKeEg&oh=00_AYGulG8LcErupiAuuZuaGfdy4hZ5t9TJ0vyCPynhOQMv6w&oe=67EA2CE3'); }
#mac-slider-2 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/485766206_1087308843435972_8438789579318927857_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGqfVq8RLtLUI-XF_HIJtePYlIuTlKmyDZiUi5OUqbINmGTMdVeEo-LQP3uES0UjyMnuPJ9A-sQSsvDblGMy9jh&_nc_ohc=VqEnYvJ5Dz8Q7kNvgFqbF6K&_nc_oc=Adl4alrlgbmZVty_W8NtyfJc4a9o62JM2h7HRdwAMhGaBhVHGjsrL1r0GToH9woPlEQ&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=es_Eei0fF_I1vRCZ5NGejA&oh=00_AYGYLn9kB9wwYPGx2k0liRe30cPXuBbHcf11-DtomuHA6Q&oe=67EA273C'); }
#mac-slider-3 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/485768494_1087308890102634_5437984328919511581_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGKZG43sCtavlqKVp3KLGkocDDyYWylMNNwMPJhbKUw0-LXaJf5sBueMUU6GKkZbfFQJiviB02Mc65-bGAQ220T&_nc_ohc=ymiQYvudoJIQ7kNvgFJGiJ_&_nc_oc=Adk7TuhU-VnEfhZhPAj1cJgVhavJa_p_LbxueiJ3OhVy13Rz81OKTRUiuHrCZd4CAZM&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=t5rs1PNSBVtWm7UW9k7FmQ&oh=00_AYHW9zeT5Lm3oT4F_wv7hiwTplGXHXRT_8Wb0UDDL3Z7Rw&oe=67EA1A5B'); }
#mac-slider-4 { background-image: url('https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/480837304_1067829222050601_5086672561876492908_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEvxgxanNsawcR7C2UD2lYYQ1bHSFnQx6BDVsdIWdDHoN2RQH0KnQ_owkU2EgS-xgHetx3JVVMUKYzdN3oMrQih&_nc_ohc=9-zxlWJOdZUQ7kNvgEir1KD&_nc_oc=AdmvDIo6hwXM_40B8VfpedjqZAaAy7EHkKbnR4sH_uicpTt-SXnZM3Rx8fzNwDiDYAQ&_nc_zt=23&_nc_ht=scontent.fmnl30-1.fna&_nc_gid=QadyLYhiz5wh4gsSn2vb_g&oh=00_AYHXyEgkVrPIBlBDoXfEDI0b96QEXDGcSNbLHm4vC4GbMQ&oe=67EA08BC'); }

#draw-slider-1 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/481277679_1065003102333213_5038823127406056898_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHXShw9RdneNC48Ehs9-fL9xMfMCrrAhBzEx8wKusCEHECSL7o9-iwJfqGwlWSJ4b2VDT0E8281gXdTkfw3cdb8&_nc_ohc=kaPGzJKbeewQ7kNvgGL21mn&_nc_oc=AdnTRPtRSrGkknP99XD7VsNhXl3XYKCB-_chTAanns7OgzuYB7xM6AdIKLWmEB-nzic&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=uVZEFk8E4nOPB_mokfTJ8g&oh=00_AYGuP-9DWKYAUHuaRZyrBeyvk_xzDeJw4rNSfJqEW8jPzg&oe=67E8914C'); }
#draw-slider-2 { background-image: url('https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/480668459_1065002812333242_1351264187518166147_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH0G1sHF8vhyPF6UKMy0_xZvi95OckyB1m-L3k5yTIHWSd72hOKqmsMZFitmjoyiYadbBG08V2hP4fOBNXR1Opg&_nc_ohc=YLH_-U92JXQQ7kNvgFJ68vP&_nc_oc=Admz_NQ_jVH9i6EQPn-KmJ7xpwIv98PSBqW55-TUeG_j_4hCM86dZ_-lqlXZzNpvibI&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=r1e7QbrEF44-hUMrgoHLWA&oh=00_AYGV5c2oedC3ZRHhOiWvN_BJC0rQE9PT_GWGwvwASL1rBw&oe=67E8B34B'); }
#draw-slider-3 { background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/481147467_1065003008999889_854209254581203965_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGA7-ofCxf7aOjVSaC3aEAtUJgK9CVka4BQmAr0JWRrgC3FPMjoZHEBAuAOrUAm6qbYNmSRSXpqSYpIidW933Ak&_nc_ohc=fzvKkZVezb8Q7kNvgF7enx-&_nc_oc=AdlHgg0PdzlhmkisOh8p1mfEnplsqzsTnhUtqtEl4x3lUZckduvMvse8yNRA2hoqzH8&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=4EoW8IYjY6pydZvEelzxsA&oh=00_AYGrJ0VU9K33Ufs77s6CHh0OyRrwJllXOyhJ_2QX5uY5vw&oe=67E8A865'); }
#draw-slider-4 { background-image: url('https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/480773681_1065003022333221_2991991893136255636_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGB4qHXsJnVrEM62xsNdMqxRXzRSsI8XvtFfNFKwjxe-6SL_p1KsOkXzZbXXmlwhcbPFNKWLw1VYWLeB82Koc0D&_nc_ohc=5PEE05zJMiAQ7kNvgFCoYL2&_nc_oc=AdkoZwCTEOjTXd1yldukriWDiB1qPzvscquR7w8UmE16K_PlqbaPchZf3I4Gs9lQCuQ&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=m9hK-lwngC8fK6nLwCgAFQ&oh=00_AYEsX_T9mGICts38xJrD0Ko8C93RW_QAOXJ9DA7asjL_sQ&oe=67E896F1'); }

@media (max-width: 576px){

    .facilities-header{
        font-size: 45px;
    }
}