@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body{
    padding: 0;
    margin: 0;
    background-color:#bde0bd;
    font-family: "poppins", sans-serif;
    overflow-x: hidden !important;
}

.top{
    background-color: #00000057;
    li{
        margin: 0 10px;
    }

    li a{
        color: white;
    }

    a:hover{
        color: palegreen;
    }

    svg{
        width: 28px;
        height: 28px;
        margin-top: 6px;
        margin-right: 6px;
    }
}

.top .vr{
    color: white;
    width: 5px;
}

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.navbrand{
    display: flex;
    align-items: center;
    margin: 0 20px;
    img{
        padding:5px 10px;
        width: 100px;
    };

    h1{
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        color: white;
        margin: 10px 0;
    }
}

.main{
    align-items: center;
    margin: 0 25px;
    align-items: center;

    li a{
        font-family: "figtree", sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 5px;
        margin-right: 30px;
    }

    .dropdown-item{
        color: black;
        padding-left: 15px ;
    }

    .dropdown-item:hover{
        color: white;
        background-color: #0B3612;
    }

    li a:hover{
        color: palegreen;
    }

    #enroll{
        background-color: gold;
        padding: 10px;
        border-radius: 5px;
        color: black;
        transition: 0.5s;
    }

    #enroll:hover{
        background-color: #0B3612;
        color: white;
    }
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 900px;
    z-index: -1;
    opacity: 0.8;
    object-fit: cover;
  }

#Tammy {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: auto;
    top: 30px;
    left: -100px;
    margin-top: 20px;
}

.hero{
    text-align: right;
    font-family: "figtree", sans-serif;
    color: white;
    padding-right: 75px;
    line-height: 25px;
    margin: 75px 0 180px;

    h1{
        font-size: 60px;
        font-weight: bold;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-weight: 500;
        margin-bottom: 50px;
        font-style: italic;
    }

    a{
        color: white;
        text-decoration: none;
        background-color: #0B3612;
        margin-right: 20px;
        font-size: 24px;
        padding: 10px;
        border: solid 5px #0B3612;
        border-radius: 20px 0;
        transition: 0.5s;
    }

    a:hover{
        color: black;
        background-color: gold;
        border-color: gold;
    }
}

.feat{
    margin: 1%;
    margin-left: 30%;
    padding:1%;
    background-color: white ;
    border-radius: 30px;
    width: 60%;
    justify-content: space-around;
}

.card{
    --bs-card-spacer-y: 0;
    border: none;
    width: 100%;
    background-color: transparent;
    text-align: center;
    background-size: cover;
}

.cardbg-1{
    background-image: url("https://scontent-mnl3-2.xx.fbcdn.net/v/t39.30808-6/485006144_619625120915415_8754136516677882930_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeFuduvZHqWIhTSgbsyIXsfFBrabMy9DOIAGtpszL0M4gC7SOyXAziZrPg7ocvmSjz3ssU6kIHGwZDgeFXaBGGzB&_nc_ohc=jPxSnkaIm_QQ7kNvgGzBXtB&_nc_oc=AdnmSAYPDMzUzl6KUSGUHAYcu83EFmA5g2Kp5II4nMIAivhlgPOD3KoCMEqII6evl1M&_nc_zt=23&_nc_ht=scontent-mnl3-2.xx&_nc_gid=Spm_7OK-M7Ausm3JKqzumg&oh=00_AYE62fGrFxXJz5EWHzhhPzqevLxLgeZT0CQztSjKP9BUFw&oe=67E6917B");
}

.cardbg-2{
    background-image: url("https://scontent-mnl3-2.xx.fbcdn.net/v/t39.30808-6/484144013_1080734284093428_6410371420926488856_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEZyGQqbz_cwhXzcZ5wnCwE244_LSLQpD_bjj8tItCkP0nD8d4mICZozkrOoBzc8pZEdTenxWTkBBfAP_eSXLGL&_nc_ohc=kwkOPiOwskwQ7kNvgHsvDQt&_nc_oc=Adn2LVw19hRk3g3UmHIDBC5trWDm8cRij7jDaQOP7ZHZrWg5sj5gGqd9rv1iCFbuyNE&_nc_zt=23&_nc_ht=scontent-mnl3-2.xx&_nc_gid=Ga0msU_SuuoJBQcWxDAkug&oh=00_AYFqV8BemH12TBpYek9-jO19954MAxNDr8RGgOYhso3HpQ&oe=67E68205");
}

.cardbg-3{
    background-image: url("https://scontent-mnl1-2.xx.fbcdn.net/v/t39.30808-6/474932951_1046940734139450_8485464119543238954_n.jpg?stp=dst-jpg_p526x395_tt6&_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGzh2SYRNOspxXzepLLlRvqidU2gkqyXeKJ1TaCSrJd4jrwNz2KBCSCetnB5GnB8EFNRVeLLMJOc7_4EB_tOpa5&_nc_ohc=0kKYNgA4goAQ7kNvgGjleEy&_nc_oc=AdkbI-4jhovtKg5I2u-OHx9bCO8ci4qNBmN8uaRAFWDN17y8hyRK65_U8ffhGhE8NJA&_nc_zt=23&_nc_ht=scontent-mnl1-2.xx&_nc_gid=YuANuBWOiB9wv-hzkAY7cQ&oh=00_AYHdgnf4ur8Q3tlui_zq-JyqkYEMsLtkxUQCi_QI7Sh7DA&oe=67E67334");
}

.card-col{
    width: 33.33%;
}

.folder-green{
    background-image: url(./Resources/greenfolder.png);
    background-size: contain;
    background-position:top center;
    background-repeat: no-repeat; 
}

.folder-blue{
    background-image: url(./Resources/bluefolder.png);
    background-size: contain;
    background-position:top center;
    background-repeat: no-repeat;
}

.folder-yellow{
    background-image: url(./Resources/yellowfolder.png);
    background-size: contain;
    background-position:top center;
    background-repeat: no-repeat;
}

.card-body{
    height: 230px;
    padding: 0;
    opacity: 0;
    transition: 0.3s;
}

.card-body:hover{
    opacity: 1;
}


.tam-card{
    margin-top: -190px;
    margin-left: 80%;
    width: 150px;
    height: 165px;
}

.tamcard-fill{
    height: 1px;
}

.card-title{
    font-family: "poppins", sans-serif;
    margin: 45% 0;
    text-align: center;
    color: black;
    background-color: white;
    padding: 3% 0;
}


.apply{
    margin: 50px 0;
    text-align: center;
    font-family: "poppins", sans-serif;
    h1{
        font-size: 60px;
        font-weight: bold;
    }
    p{
        margin: 10px 0 30px;
        font-style: italic;
        font-size: larger;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: larger;
        font-weight: bold;
        padding: 10px 30px;
        background-color: gold;
        border-radius: 10px;
        transition: 0.4s;
    }

    a:hover{
        background-color: #0B3612;
        color: white;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 67, 25, 0.6); /* Semi-transparent gray overlay */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;

    p{
        font-size: small;
        font-weight: 400;
        text-align: justify;
        padding: 10px;
    }
}

.card:hover .overlay{
    opacity: 1;
}

.happen{
    display: flex;
    flex-direction: column;
    background-color: #0B3612;
    padding-bottom: 10px;
    h1{
        padding: 20px 0;
        margin-left: 40px;
        color: #bde0bd;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card{
        width: 350px;
        height: 350px;
        background-color: white;
        margin: 20px;
    }

    a{
        text-decoration: none;
        color: white;
    }
}

footer{
    padding: 30px 50px 20px;
    ul{
       list-style-type: none;
       display: flex;
       padding: 0;

       li:first-child{
        margin-left: 0;
       }
    }

    li{
        margin: 0 5px 0 5px;
    }

    a{
        text-decoration: none;
        color: black;
    }

}


@media (min-width: 577px) and (max-width: 1024px){
    .navbrand{
        margin: 0 10px 0 0;
        img{
            padding:10px;
            width: 100px;
        };
    
        h1{
            font-family: "Poppins", sans-serif;
            font-size: 40px;
            color: white;
            margin: 10px 0;
        }
    }
    
    .main{
        margin: 0 ;
        li a{
            font-family: "figtree", sans-serif;
            font-size: 18px;
            padding: 5px;
            margin-right: 12px;
        }

    #enroll{
        padding:10px 5px;
        margin: 0 10px 0 0;
    }

    }

    #Tammy {
        left: -80px;
        margin-top: 18px;
    }

    .hero{
        padding-right: 40px;
        line-height: 25px;
        margin: 75px 0 180px;
    
        h1{
            font-size: 40px;

        }
    
        h2{
            font-size: 30px;
        }
    
        h3{
            font-size: 22px;
        }
    
        a{
            font-size: 20px;
        }
    
    }

    .feat{
        margin-left: 20%;
    }

    .card-body{
        height: 150px;
    }
    
    .tam-card{
        margin-top: -170px;
        margin-left: 75%;
        width: 140px;
        height: 155px;
    }
    
    .card-title{
        font-size: 24px;
    }
    
    .apply{
        margin: 50px 0;
        text-align: center;
        font-family: "poppins", sans-serif;
        h1{
            font-size: 45px;
        }
        p{
            margin: 10px 20px 30px;
            font-style: italic;
            font-size: large;
        }
    
        a{
            text-decoration: none;
            color: black;
            font-size: larger;
            font-weight: bold;
            padding: 10px 30px;
            background-color: gold;
            border-radius: 10px;
            transition: 0.4s;
        }
    
        a:hover{
            background-color: #0B3612;
            color: white;
        }
    }

}

@media (max-width: 576px){
    header{
        background-color: #0B3612;
    }

    .top.navbar-nav{
        flex-direction: row;
    }

    .navbrand{
        display: flex;
        align-items: center;
        margin: 0;
        img{
            padding:5px 10px;
            width: 80px;
        };
    
        h1{
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            color: white;
            margin: 10px 0;
        }
    }

    .cont.d-flex{
        flex-direction: column;
    }

    .main{
        width: 100%;
        li{
            padding: 8px;
        }

        li a{
            margin-right: 0;
        }

        .dropdown-item{
            padding-left: 0;
        }

    }

    .hero{
        text-align: left;
        font-family: "figtree", sans-serif;
        color: white;
        padding: 0 0 0 15px;
        line-height: 25px;
        margin: 20px 0 ;
    
        h1{
            font-size: 25px;
            font-weight: bold;
        }
    
        h2{
            font-size: 20px;
        }
    
        h3{
            font-size: 18px;
            margin-bottom: 30px;
  
        }
    
        a{
            font-size: 20px;
            padding: 5px;
            border-radius:0;
        }
    }
    #myVideo{
        height: 330px;
    }

    #Tammy{
        display: none;
    }

    .feat{
        display: none ;
    }

    .apply{
        margin: 40px 0;
        h1{
            padding: 0 10px;
            font-size: 35px;
        }
        p{
            padding: 0 10px;
            margin: 10px 0 20px;
            font-style: italic;
            font-size: medium;
        }
    }

    .happen{
        h1{
            padding: 20px 0 10px;
            margin-left: 40px;
            color: #bde0bd;
        }
    }

    footer{
        padding: 30px 20px 20px;
        ul{
           list-style-type: none;
           display: flex;
           padding: 0;
           text-align: center;
           align-items: center;
    
           li:first-child{
            margin: 0;
           }
        }
    
        li{
            margin: 0 5px;
        }
    
        a{
            text-decoration: none;
            color: black;
        }
    
    }

}